In [261]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
#import geopandas
from pathlib import Path
import pandas as pd
import numpy as np
import plotly as py
import plotly.graph_objects as go

In [206]:
import json

#path_geo = 'datasets/'

localidades = dict()

with open(Path.cwd() / '..' /  'portugal_municipios.geojson', encoding='utf-8') as json_file:
    pt_geo = json.load(json_file)

In [207]:
DATA_FILEPATH = Path.cwd() / '..' / 'data_concelhos_new.csv'
POPULATION_FILEPATH = Path.cwd() / '..' / 'extra' / 'populacional' / 'PORDATA_Estimativas-a-31-12_concelhos.csv'

In [208]:
data = pd.read_csv(DATA_FILEPATH, parse_dates=[0], index_col=[0], infer_datetime_format=True)

In [209]:
data_first_week=data.loc["2020-11-11"]

In [210]:
data_first_week

,concelho,confirmados_14,confirmados_1,incidencia,incidencia_categoria,incidencia_risco,tendencia_incidencia,tendencia_categoria,tendencia_desc,casos_14dias,...,population_80_84,population_85_mais,population_80_mais,population_75_mais,population_70_mais,population_65_mais,densidade_populacional,densidade_1,densidade_2,densidade_3
data,,,,,,,,,,,,,,,,,,,,,
2020-11-11,ABRANTES,142,10,404,"[240,Max]",Muito elevada,NaN,NaN,NaN,142,...,1748,2021,3769,5499,7712,10185,49.15,14.25,10.79,7.69
2020-11-11,ÁGUEDA,206,15,447,"[240,Max]",Muito elevada,NaN,NaN,NaN,206,...,1635,1496,3131,5221,7934,11171,137.43,33.32,23.66,15.57
2020-11-11,AGUIAR DA BEIRA,8,1,172,"[120,240]",Elevada,NaN,NaN,NaN,8,...,239,148,387,622,903,1207,22.50,5.84,4.37,3.01
2020-11-11,ALANDROAL,4,0,80,"[60,120]",Moderada,NaN,NaN,NaN,4,...,299,377,676,972,1228,1535,9.20,2.83,2.26,1.79
2020-11-11,ALBERGARIA-A-VELHA,109,8,451,"[240,Max]",Muito elevada,NaN,NaN,NaN,109,...,687,680,1367,2363,3661,5211,152.02,32.81,23.05,14.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-11,VIMIOSO,8,1,199,"[120,240]",Elevada,NaN,NaN,NaN,8,...,293,335,628,889,1119,1393,8.35,2.89,2.32,1.85
2020-11-11,VINHAIS,14,1,181,"[120,240]",Elevada,NaN,NaN,NaN,14,...,641,815,1456,2092,2669,3268,11.15,4.70,3.84,3.01
2020-11-11,VISEU,305,22,314,"[240,Max]",Muito elevada,NaN,NaN,NaN,305,...,3158,2710,5868,10008,15046,20815,191.77,41.05,29.67,19.74
2020-11-11,VIZELA,634,45,2653,"[240,Max]",Muito elevada,NaN,NaN,NaN,634,...,509,371,880,1535,2463,3721,967.49,150.65,99.72,62.15
2020-11-11,VOUZELA,14,1,146,"[120,240]",Elevada,NaN,NaN,NaN,14,...,532,507,1039,1593,2198,2824,49.66,14.58,11.35,8.22

In [211]:
data_last_week=data.loc["2021-03-03"]

In [212]:
data_last_week

,concelho,confirmados_14,confirmados_1,incidencia,incidencia_categoria,incidencia_risco,tendencia_incidencia,tendencia_categoria,tendencia_desc,casos_14dias,...,population_80_84,population_85_mais,population_80_mais,population_75_mais,population_70_mais,population_65_mais,densidade_populacional,densidade_1,densidade_2,densidade_3
data,,,,,,,,,,,,,,,,,,,,,
2021-03-03,ABRANTES,14,1,40,"[0,120]",Baixo a Moderado,NaN,NaN,NaN,14,...,1748,2021,3769,5499,7712,10185,49.15,14.25,10.79,7.69
2021-03-03,ÁGUEDA,60,4,130,"[120,240]",Moderado,NaN,NaN,NaN,60,...,1635,1496,3131,5221,7934,11171,137.43,33.32,23.66,15.57
2021-03-03,AGUIAR DA BEIRA,2,0,43,"[0,120]",Baixo a Moderado,NaN,NaN,NaN,2,...,239,148,387,622,903,1207,22.50,5.84,4.37,3.01
2021-03-03,ALANDROAL,4,0,80,"[0,120]",Baixo a Moderado,NaN,NaN,NaN,4,...,299,377,676,972,1228,1535,9.20,2.83,2.26,1.79
2021-03-03,ALBERGARIA-A-VELHA,57,4,236,"[120,240]",Moderado,NaN,NaN,NaN,57,...,687,680,1367,2363,3661,5211,152.02,32.81,23.05,14.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-03,VIMIOSO,3,0,75,"[0,120]",Baixo a Moderado,NaN,NaN,NaN,3,...,293,335,628,889,1119,1393,8.35,2.89,2.32,1.85
2021-03-03,VINHAIS,5,0,65,"[0,120]",Baixo a Moderado,NaN,NaN,NaN,5,...,641,815,1456,2092,2669,3268,11.15,4.70,3.84,3.01
2021-03-03,VISEU,102,7,105,"[0,120]",Baixo a Moderado,NaN,NaN,NaN,102,...,3158,2710,5868,10008,15046,20815,191.77,41.05,29.67,19.74
2021-03-03,VIZELA,4,0,17,"[0,120]",Baixo a Moderado,NaN,NaN,NaN,4,...,509,371,880,1535,2463,3721,967.49,150.65,99.72,62.15
2021-03-03,VOUZELA,5,0,52,"[0,120]",Baixo a Moderado,NaN,NaN,NaN,5,...,532,507,1039,1593,2198,2824,49.66,14.58,11.35,8.22

In [213]:
PT_FILEPATH = Path.cwd() / '..' / 'pt.csv'

In [214]:
coordenadas_portugal_original = pd.read_csv(PT_FILEPATH, parse_dates=[0], index_col=[0], infer_datetime_format=True)

In [215]:
coordenadas_portugal_original.head()

,lat,lng,country,iso2,admin_name,capital,population,population_proper
city,,,,,,,,
Lisboa,38.7452,-9.1604,Portugal,PT,Lisboa,primary,506654.0,506654.0
Vila Nova de Gaia,41.1333,-8.6167,Portugal,PT,Porto,minor,302295.0,302295.0
Porto,41.1495,-8.6108,Portugal,PT,Porto,admin,237591.0,237591.0
Braga,41.5333,-8.4167,Portugal,PT,Braga,admin,181494.0,181494.0
Matosinhos,41.2077,-8.6674,Portugal,PT,Porto,minor,175478.0,175478.0

In [216]:
coordenadas = pd.DataFrame(data=[coordenadas_portugal_original.index, coordenadas_portugal_original.lat, coordenadas_portugal_original.lng])

In [217]:
coordenadas = coordenadas.T

In [218]:
coordenadas.head()

                   0        1       2
0             Lisboa  38.7452 -9.1604
1  Vila Nova de Gaia  41.1333 -8.6167
2              Porto  41.1495 -8.6108
3              Braga  41.5333 -8.4167
4         Matosinhos  41.2077 -8.6674

In [219]:
coordenadas.rename(columns={0:"Municipality", 1:"lat", 2:"lon"}, inplace=True)

In [220]:
coordenadas["Municipality"] = coordenadas["Municipality"].str.upper()

In [221]:
coordenadas.sort_values('Municipality')

           Municipality      lat     lon
286            ABRANTES  39.4667    -8.2
68              AGUALVA    38.77 -9.2988
216     AGUIAR DA BEIRA   40.818 -7.5414
302           ALANDROAL   38.702 -7.4031
85   ALBERGARIA-A-VELHA  40.6936 -8.4806
..                  ...      ...     ...
309             VOUZELA  40.7231 -8.1122
278              ÁGUEDA  40.5745  -8.448
40                ÉVORA  38.5667    -7.9
61               ÍLHAVO     40.6 -8.6667
149              ÓBIDOS  39.3585  -9.176

[336 rows x 3 columns]

In [222]:
lista_concelhos_1 = list(data_first_week["concelho"])

In [223]:
lista_concelhos_2 = list(coordenadas.Municipality)

In [224]:
outlaws_1 = coordenadas[~coordenadas.Municipality.isin(lista_concelhos_1)]

In [225]:
outlaws_2 = data_first_week[~data_first_week.concelho.isin(lista_concelhos_2)]

In [226]:
len(outlaws_1)

43

In [227]:
len(outlaws_2)

18

In [228]:
final = coordenadas_portugal_original[(coordenadas_portugal_original.capital == "primary") |
                                      (coordenadas_portugal_original.capital == "admin") |
                                      (coordenadas_portugal_original.capital == "minor")]

In [229]:
final = final[["lat", "lng"]]

In [230]:
final.index = final.index.str.upper()

In [231]:
final.head()

                       lat     lng
city
LISBOA             38.7452 -9.1604
VILA NOVA DE GAIA  41.1333 -8.6167
PORTO              41.1495 -8.6108
BRAGA              41.5333 -8.4167
MATOSINHOS         41.2077 -8.6674

In [232]:
final['city'] = final.index

In [233]:
final.head()

                       lat     lng               city
city
LISBOA             38.7452 -9.1604             LISBOA
VILA NOVA DE GAIA  41.1333 -8.6167  VILA NOVA DE GAIA
PORTO              41.1495 -8.6108              PORTO
BRAGA              41.5333 -8.4167              BRAGA
MATOSINHOS         41.2077 -8.6674         MATOSINHOS

In [234]:
coordenadas = final[final.index.isin(lista_concelhos_2)]

In [235]:
coordenadas

                          lat     lng                  city
city
LISBOA                38.7452 -9.1604                LISBOA
VILA NOVA DE GAIA     41.1333 -8.6167     VILA NOVA DE GAIA
PORTO                 41.1495 -8.6108                 PORTO
BRAGA                 41.5333 -8.4167                 BRAGA
MATOSINHOS            41.2077 -8.6674            MATOSINHOS
...                       ...     ...                   ...
ALCOUTIM              37.4717 -7.4722              ALCOUTIM
ALMEIDA               40.7257 -6.9061               ALMEIDA
ALJEZUR               37.3192 -8.8033               ALJEZUR
LOURINHÃ              39.2425 -9.3122              LOURINHÃ
FERREIRA DO ALENTEJO  38.0500 -8.1000  FERREIRA DO ALENTEJO

[280 rows x 3 columns]

In [236]:
#coordenadas = coordenadas.append({"city":"LISBOA", "lat":38.7452, "lng":-9.1604}, ignore_index=True)
coordenadas = coordenadas.append({"city":"PONTE DE SOR", "lat":39.25, "lng":-8.0167}, ignore_index=True)
coordenadas = coordenadas.append({"city":"CARREGAL DO SAL", "lat":40.4333, "lng":-8}, ignore_index=True)
coordenadas = coordenadas.append({"city":"ALBERGARIA-A-VELHA", "lat":40.6936, "lng":-8.5206}, ignore_index=True)
coordenadas = coordenadas.append({"city":"VILA NOVA DE FAMALICÃO", "lat":41.4144, "lng":-8.5222}, ignore_index=True)
coordenadas = coordenadas.append({"city":"CARRAZEDA DE ANSIÃES", "lat":41.25, "lng":-7.3}, ignore_index=True)
coordenadas = coordenadas.append({"city":"LAGOA (FARO)", "lat":37.1347, "lng":-8.4528}, ignore_index=True)

In [239]:
coordenadas = coordenadas.append({"city":"OLIVEIRA DE AZEMÉIS", "lat":40.84, "lng":-8.47631}, ignore_index=True)
coordenadas = coordenadas.append({"city":"SANTA MARIA DA FEIRA", "lat":40.9257, "lng":-8.54123}, ignore_index=True)
coordenadas = coordenadas.append({"city":"MARCO DE CANAVEZES", "lat":41.1833, "lng":-8.15}, ignore_index=True)

In [240]:
coordenadas

         lat      lng                  city
0    38.7452 -9.16040                LISBOA
1    41.1333 -8.61670     VILA NOVA DE GAIA
2    41.1495 -8.61080                 PORTO
3    41.5333 -8.41670                 BRAGA
4    41.2077 -8.66740            MATOSINHOS
..       ...      ...                   ...
284  41.2500 -7.30000  CARRAZEDA DE ANSIÃES
285  37.1347 -8.45280          LAGOA (FARO)
286  40.8400 -8.47631   OLIVEIRA DE AZEMÉIS
287  40.8400 -8.47631   OLIVEIRA DE AZEMÉIS
288  40.9257 -8.54123  SANTA MARIA DA FEIRA

[289 rows x 3 columns]

In [241]:
coordenadas_covid = coordenadas.merge(data_last_week, left_on='city', right_on='concelho')

In [242]:
coordenadas_covid.drop(columns="city")

,lat,lng,concelho,confirmados_14,confirmados_1,incidencia,incidencia_categoria,incidencia_risco,tendencia_incidencia,tendencia_categoria,...,population_80_84,population_85_mais,population_80_mais,population_75_mais,population_70_mais,population_65_mais,densidade_populacional,densidade_1,densidade_2,densidade_3
0,38.7452,-9.16040,LISBOA,1167,83,229,"[120,240]",Moderado,NaN,NaN,...,23037,26770,49807,77513,110853,144050,5092.60,1439.78,1107.98,774.74
1,41.1333,-8.61670,VILA NOVA DE GAIA,288,21,96,"[0,120]",Baixo a Moderado,NaN,NaN,...,8224,6281,14505,25477,41045,59394,1783.64,352.57,243.65,151.23
2,41.1495,-8.61080,PORTO,288,21,133,"[120,240]",Moderado,NaN,NaN,...,9409,10044,19453,30733,45926,61716,5229.50,1490.00,1108.79,741.98
3,41.5333,-8.41670,BRAGA,144,10,79,"[0,120]",Baixo a Moderado,NaN,NaN,...,4320,3671,7991,13232,21195,31224,996.07,170.25,115.57,72.15
4,41.2077,-8.66740,MATOSINHOS,160,11,91,"[0,120]",Baixo a Moderado,NaN,NaN,...,5024,3884,8908,15931,25908,37758,2809.31,604.90,415.06,255.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,41.2500,-7.30000,CARRAZEDA DE ANSIÃES,9,1,159,"[120,240]",Moderado,NaN,NaN,...,312,465,777,1168,1557,1981,20.29,7.09,5.58,4.18
278,37.1347,-8.45280,LAGOA (FARO),32,2,141,"[120,240]",Moderado,NaN,NaN,...,749,670,1419,2338,3506,4820,257.93,54.62,39.73,26.49
279,40.8400,-8.47631,OLIVEIRA DE AZEMÉIS,73,5,111,"[0,120]",Baixo a Moderado,NaN,NaN,...,2183,1738,3921,6715,10329,14484,409.75,89.91,64.12,41.68
280,40.8400,-8.47631,OLIVEIRA DE AZEMÉIS,73,5,111,"[0,120]",Baixo a Moderado,NaN,NaN,...,2183,1738,3921,6715,10329,14484,409.75,89.91,64.12,41.68
281,40.9257,-8.54123,SANTA MARIA DA FEIRA,175,12,126,"[120,240]",Moderado,NaN,NaN,...,3856,3079,6935,11706,18449,26631,642.19,123.36,85.46,54.22

In [243]:
coordenadas_covid['concelho'].replace({'LAGOA (FARO)': 'LAGOA'})

0                    LISBOA
1         VILA NOVA DE GAIA
2                     PORTO
3                     BRAGA
4                MATOSINHOS
               ...
277    CARRAZEDA DE ANSIÃES
278                   LAGOA
279     OLIVEIRA DE AZEMÉIS
280     OLIVEIRA DE AZEMÉIS
281    SANTA MARIA DA FEIRA
Name: concelho, Length: 282, dtype: object

In [244]:
localidades = []

for feature in pt_geo['features']:
        localidades.append(feature)

In [245]:
# In order to feed the GeoJson into Plotly we need to make a small alteration,
# In this case add the 'id' key to each feature containing the value of each countries ISO-A3 code 
# Which is stored in the key 'feature['properties']['ADMIN']'
id_list = []

for feature in localidades:
    feature['id'] = feature['properties']['name_2']   # or 'ISO-A3'
    id_list.append(feature['properties']['name_2'])

In [246]:
pt_geo = dict(type='FeatureCollection', features=localidades)

In [247]:
id_list

['Almodôvar',
 'Alvito',
 'Barrancos',
 'Beja',
 'Castro Verde',
 'Cuba',
 'Ferreira do Alentejo',
 'Mértola',
 'Moura',
 'Odemira',
 'Ourique',
 'Serpa',
 'Loures',
 'Lourinhã',
 'Mafra',
 'Odivelas',
 'Évora',
 'Alandroal',
 'Arraiolos',
 'Borba',
 'Estremoz',
 'Montemor-o-Novo',
 'Mora',
 'Mourão',
 'Portel',
 'Redondo',
 'Reguengos de Monsaraz',
 'Vendas Novas',
 'Viana do Alentejo',
 'Vila Viçosa',
 'Águeda',
 'Porto Moniz',
 'Porto Santo',
 'Ribeira Brava',
 'São Vicente',
 'Santa Cruz',
 'Santana',
 'Alter do Chão',
 'Arronches',
 'Avis',
 'Campo Maior',
 'Castelo de Vide',
 'Crato',
 'Elvas',
 'Fronteira',
 'Gavião',
 'Marvão',
 'Monforte',
 'Nisa',
 'Portalegre',
 'Alcochete',
 'Almada',
 'Barreiro',
 'Grândola',
 'Moita',
 'Montijo',
 'Palmela',
 'Santiago do Cacém',
 'Seixal',
 'Sesimbra',
 'Setúbal',
 'Sines',
 'Arcos de Valdevez',
 'Caminha',
 'Melgaço',
 'Monção',
 'Ponte da Barca',
 'Ponte de Lima',
 'Viana do Castelo',
 'Vila Real',
 'Espinho',
 'Estarreja',
 'Mealhada',
 'Murtosa',
 'Oliveira de Azeméis',
 'Oliveira do Bairro',
 'Ovar',
 'São João da Madeira',
 'Santa Maria da Feira',
 'Sever do Vouga',
 'Vagos',
 'Vale de Cambra',
 'Angra do Heroísmo',
 'Calheta',
 'Corvo',
 'Horta',
 'Lagoa',
 'Lajes das Flores',
 'Lajes do Pico',
 'Madalena',
 'Nordeste',
 'Ponta Delgada',
 'Povoação',
 'São Roque do Pico',
 'Santa Cruz da Graciosa',
 'Santa Cruz das Flores',
 'Velas',
 'Vila do Porto',
 'Vila Franca do Campo',
 'Aljustrel',
 'Vidigueira',
 'Castelo de Paiva',
 'Amares',
 'Valença',
 'Praia da Vitória',
 'Ribeira Grande',
 'Ílhavo',
 'Albergaria-a-Velha',
 'Anadia',
 'Arouca',
 'Aveiro',
 'Barcelos',
 'Braga',
 'Cabeceiras de Basto',
 'Celorico de Basto',
 'Esposende',
 'Fafe',
 'Póvoa de Lanhoso',
 'Terras de Bouro',
 'Vieira do Minho',
 'Vila Nova de Famalicão',
 'Vila Verde',
 'Vizela',
 'Alfândega da Fé',
 'Bragança',
 'Carrazeda de Ansiães',
 'Freixo de Espada à Cinta',
 'Macedo de Cavaleiros',
 'Miranda do Douro',
 'Mirandela',
 'Mogadouro',
 'Torre de Moncorvo',
 'Vila Flor',
 'Vimioso',
 'Vinhais',
 'Belmonte',
 'Castelo Branco',
 'Covilhã',
 'Fundão',
 'Idanha-a-Nova',
 'Oleiros',
 'Penamacor',
 'Proença-a-Nova',
 'Sertã',
 'Vila de Rei',
 'Vila Velha de Ródão',
 'Arganil',
 'Cantanhede',
 'Coimbra',
 'Condeixa-a-Nova',
 'Figueira da Foz',
 'Góis',
 'Lousã',
 'Mira',
 'Miranda do Corvo',
 'Montemor-o-Velho',
 'Oliveira do Hospital',
 'Pampilhosa da Serra',
 'Penacova',
 'Penela',
 'Soure',
 'Tábua',
 'Vila Nova de Poiares',
 'Albufeira',
 'Alcoutim',
 'Aljezur',
 'Castro Marim',
 'Faro',
 'Lagoa',
 'Lagos',
 'Loulé',
 'Monchique',
 'Olhão',
 'Portimão',
 'São Brás de Alportel',
 'Silves',
 'Vila do Bispo',
 'Vila Real de Santo António',
 'Aguiar da Beira',
 'Almeida',
 'Celorico da Beira',
 'Figueira de Castelo Rodrigo',
 'Fornos de Algodres',
 'Gouveia',
 'Guarda',
 'Mêda',
 'Manteigas',
 'Pinhel',
 'Sabugal',
 'Seia',
 'Trancoso',
 'Vila Nova de Foz Côa',
 'Óbidos',
 'Alcobaça',
 'Alvaiázere',
 'Ansião',
 'Batalha',
 'Bombarral',
 'Caldas da Rainha',
 'Castanheira de Pêra',
 'Figueiró dos Vinhos',
 'Leiria',
 'Marinha Grande',
 'Nazaré',
 'Pedrógão Grande',
 'Peniche',
 'Pombal',
 'Porto de Mós',
 'Alenquer',
 'Amadora',
 'Arruda dos Vinhos',
 'Azambuja',
 'Cadaval',
 'Cascais',
 'Lisboa',
 'Oeiras',
 'Sintra',
 'Sobral de Monte Agraço',
 'Torres Vedras',
 'Vila Franca de Xira',
 'Câmara de Lobos',
 'Calheta',
 'Funchal',
 'Machico',
 'Ponta do Sol',
 'Ponte de Sôr',
 'Sousel',
 'Amarante',
 'Baião',
 'Felgueiras',
 'Gondomar',
 'Lousada',
 'Maia',
 'Marco de Canaveses',
 'Matosinhos',
 'Póvoa de Varzim',
 'Paços de Ferreira',
 'Paredes',
 'Penafiel',
 'Porto',
 'Santo Tirso',
 'Benavente',
 'Cartaxo',
 'Chamusca',
 'Constância',
 'Coruche',
 'Penalva do Castelo',
 'Penedono',
 'Resende',
 'Sátão',
 'São João da Pesqueira',
 'São Pedro do Sul',
 'Santa Comba Dão',
 'Sernancelhe',
 'Tabuaço',
 'Tarouca',
 'Tondela',
 'Vila Nova de Paiva',
 'Viseu',
 'Vouzela',
 'Alpiarça',
 'Trofa',
 'Valongo',
 'Vila do Conde',
 'Vila Nova de Gaia',
 'Abrantes',
 'Alcanena',
 'Almeirim',
 'Entroncamento',
 'Ferreira do Zêzere',
 'Golegã',
 'Mação',
 'Ourém',
 'Rio Maior',
 'Salvaterra de Magos',
 'Santarém',
 'Sardoal',
 'Tomar',
 'Torres Novas',
 'Vila Nova da Barquinha',
 'Alcácer do Sal',
 'Valpaços',
 'Vila Pouca de Aguiar',
 'Armamar',
 'Carregal do Sal',
 'Paredes de Coura',
 'Castro Daire',
 'Cinfães',
 'Lamego',
 'Mangualde',
 'Moimenta da Beira',
 'Mortágua',
 'Nelas',
 'Oliveira de Frades',
 'Vila Nova de Cerveira',
 'Alijó',
 'Boticas',
 'Chaves',
 'Mesão Frio',
 'Mondim de Basto',
 'Montalegre',
 'Murça',
 'Peso da Régua',
 'Ribeira de Pena',
 'Sabrosa',
 'Santa Marta de Penaguião']

In [248]:
i = 0
while i < len(localidades):
    localidades[i]["id"] = localidades[i]["id"].upper()
    i = i + 1

In [249]:
i=0
while i < 306:
    print(localidades[i]["id"])
    i = i +1

ALMODÔVAR
ALVITO
BARRANCOS
BEJA
CASTRO VERDE
CUBA
FERREIRA DO ALENTEJO
MÉRTOLA
MOURA
ODEMIRA
OURIQUE
SERPA
LOURES
LOURINHÃ
MAFRA
ODIVELAS
ÉVORA
ALANDROAL
ARRAIOLOS
BORBA
ESTREMOZ
MONTEMOR-O-NOVO
MORA
MOURÃO
PORTEL
REDONDO
REGUENGOS DE MONSARAZ
VENDAS NOVAS
VIANA DO ALENTEJO
VILA VIÇOSA
ÁGUEDA
PORTO MONIZ
PORTO SANTO
RIBEIRA BRAVA
SÃO VICENTE
SANTA CRUZ
SANTANA
ALTER DO CHÃO
ARRONCHES
AVIS
CAMPO MAIOR
CASTELO DE VIDE
CRATO
ELVAS
FRONTEIRA
GAVIÃO
MARVÃO
MONFORTE
NISA
PORTALEGRE
ALCOCHETE
ALMADA
BARREIRO
GRÂNDOLA
MOITA
MONTIJO
PALMELA
SANTIAGO DO CACÉM
SEIXAL
SESIMBRA
SETÚBAL
SINES
ARCOS DE VALDEVEZ
CAMINHA
MELGAÇO
MONÇÃO
PONTE DA BARCA
PONTE DE LIMA
VIANA DO CASTELO
VILA REAL
ESPINHO
ESTARREJA
MEALHADA
MURTOSA
OLIVEIRA DE AZEMÉIS
OLIVEIRA DO BAIRRO
OVAR
SÃO JOÃO DA MADEIRA
SANTA MARIA DA FEIRA
SEVER DO VOUGA
VAGOS
VALE DE CAMBRA
ANGRA DO HEROÍSMO
CALHETA
CORVO
HORTA
LAGOA
LAJES DAS FLORES
LAJES DO PICO
MADALENA
NORDESTE
PONTA DELGADA
POVOAÇÃO
SÃO ROQUE DO PICO
SANTA CRUZ DA GRACIOSA
SANTA CRUZ DAS FLORES
VELAS
VILA DO PORTO
VILA FRANCA DO CAMPO
ALJUSTREL
VIDIGUEIRA
CASTELO DE PAIVA
AMARES
VALENÇA
PRAIA DA VITÓRIA
RIBEIRA GRANDE
ÍLHAVO
ALBERGARIA-A-VELHA
ANADIA
AROUCA
AVEIRO
BARCELOS
BRAGA
CABECEIRAS DE BASTO
CELORICO DE BASTO
ESPOSENDE
FAFE
PÓVOA DE LANHOSO
TERRAS DE BOURO
VIEIRA DO MINHO
VILA NOVA DE FAMALICÃO
VILA VERDE
VIZELA
ALFÂNDEGA DA FÉ
BRAGANÇA
CARRAZEDA DE ANSIÃES
FREIXO DE ESPADA À CINTA
MACEDO DE CAVALEIROS
MIRANDA DO DOURO
MIRANDELA
MOGADOURO
TORRE DE MONCORVO
VILA FLOR
VIMIOSO
VINHAIS
BELMONTE
CASTELO BRANCO
COVILHÃ
FUNDÃO
IDANHA-A-NOVA
OLEIROS
PENAMACOR
PROENÇA-A-NOVA
SERTÃ
VILA DE REI
VILA VELHA DE RÓDÃO
ARGANIL
CANTANHEDE
COIMBRA
CONDEIXA-A-NOVA
FIGUEIRA DA FOZ
GÓIS
LOUSÃ
MIRA
MIRANDA DO CORVO
MONTEMOR-O-VELHO
OLIVEIRA DO HOSPITAL
PAMPILHOSA DA SERRA
PENACOVA
PENELA
SOURE
TÁBUA
VILA NOVA DE POIARES
ALBUFEIRA
ALCOUTIM
ALJEZUR
CASTRO MARIM
FARO
LAGOA
LAGOS
LOULÉ
MONCHIQUE
OLHÃO
PORTIMÃO
SÃO BRÁS DE ALPORTEL
SILVES
VILA DO BISPO
VILA REAL DE SANTO ANTÓNIO
AGUIAR DA BEIRA
ALMEIDA
CELORICO DA BEIRA
FIGUEIRA DE CASTELO RODRIGO
FORNOS DE ALGODRES
GOUVEIA
GUARDA
MÊDA
MANTEIGAS
PINHEL
SABUGAL
SEIA
TRANCOSO
VILA NOVA DE FOZ CÔA
ÓBIDOS
ALCOBAÇA
ALVAIÁZERE
ANSIÃO
BATALHA
BOMBARRAL
CALDAS DA RAINHA
CASTANHEIRA DE PÊRA
FIGUEIRÓ DOS VINHOS
LEIRIA
MARINHA GRANDE
NAZARÉ
PEDRÓGÃO GRANDE
PENICHE
POMBAL
PORTO DE MÓS
ALENQUER
AMADORA
ARRUDA DOS VINHOS
AZAMBUJA
CADAVAL
CASCAIS
LISBOA
OEIRAS
SINTRA
SOBRAL DE MONTE AGRAÇO
TORRES VEDRAS
VILA FRANCA DE XIRA
CÂMARA DE LOBOS
CALHETA
FUNCHAL
MACHICO
PONTA DO SOL
PONTE DE SÔR
SOUSEL
AMARANTE
BAIÃO
FELGUEIRAS
GONDOMAR
LOUSADA
MAIA
MARCO DE CANAVESES
MATOSINHOS
PÓVOA DE VARZIM
PAÇOS DE FERREIRA
PAREDES
PENAFIEL
PORTO
SANTO TIRSO
BENAVENTE
CARTAXO
CHAMUSCA
CONSTÂNCIA
CORUCHE
PENALVA DO CASTELO
PENEDONO
RESENDE
SÁTÃO
SÃO JOÃO DA PESQUEIRA
SÃO PEDRO DO SUL
SANTA COMBA DÃO
SERNANCELHE
TABUAÇO
TAROUCA
TONDELA
VILA NOVA DE PAIVA
VISEU
VOUZELA
ALPIARÇA
TROFA
VALONGO
VILA DO CONDE
VILA NOVA DE GAIA
ABRANTES
ALCANENA
ALMEIRIM
ENTRONCAMENTO
FERREIRA DO ZÊZERE
GOLEGÃ
MAÇÃO
OURÉM
RIO MAIOR
SALVATERRA DE MAGOS
SANTARÉM
SARDOAL
TOMAR
TORRES NOVAS
VILA NOVA DA BARQUINHA
ALCÁCER DO SAL
VALPAÇOS
VILA POUCA DE AGUIAR
ARMAMAR
CARREGAL DO SAL
PAREDES DE COURA
CASTRO DAIRE
CINFÃES
LAMEGO
MANGUALDE
MOIMENTA DA BEIRA
MORTÁGUA
NELAS
OLIVEIRA DE FRADES
VILA NOVA DE CERVEIRA
ALIJÓ
BOTICAS
CHAVES
MESÃO FRIO
MONDIM DE BASTO
MONTALEGRE
MURÇA
PESO DA RÉGUA
RIBEIRA DE PENA
SABROSA
SANTA MARTA DE PENAGUIÃO

In [250]:
with open(Path.cwd() / '..' / 'pt_geo.geojson', 'w') as outfile:
    json.dump(pt_geo, outfile)

In [251]:
#Load a GeoJson file from local file
import json

with open(Path.cwd() / '..' /  'pt_geo.geojson', encoding='utf-8') as json_file:
    pt_lisboa = json.load(json_file)

In [252]:
data_choropleth_pt = dict(type='choroplethmapbox',
                              geojson=pt_geo,
                              locations=coordenadas_covid['concelho'],
                              z=np.log(coordenadas_covid['incidencia']),
                              colorscale='inferno',
                              colorbar=dict(title='covid 19'))

layout_choropleth_pt=dict(mapbox=dict(style='white-bg',
                                          layers=[dict(source=feature,
                                                       below='traces',
                                                       type='fill',
                                                       fill=dict(outlinecolor='gray'))
                                                  for feature in pt_geo['features']],
                                          center=dict(lat=coordenadas_covid['lat'].iloc[0],
                                                      lon=coordenadas_covid['lng'].iloc[0]),
                                          zoom=5.5),
                              title=dict(text='Covid Incidence in Portugal',
                                         x=.5))

fig_choropleth_pt=go.Figure(data=data_choropleth_pt,layout=layout_choropleth_pt)
fig_choropleth_pt.show(renderer='browser')

C:\Users\Pedro\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning:

divide by zero encountered in log

In [255]:
CONFIRMADOS_FILEPATH = Path.cwd() / '..' / 'data.csv'
confirmados_desde_inicio = pd.read_csv(CONFIRMADOS_FILEPATH, parse_dates=[0], index_col=[0], infer_datetime_format=True)

In [257]:
confirmados_desde_inicio.head(10)

,data_dados,confirmados,confirmados_arsnorte,confirmados_arscentro,confirmados_arslvt,confirmados_arsalentejo,confirmados_arsalgarve,confirmados_acores,confirmados_madeira,confirmados_estrangeiro,...,obitos_70_79_m,obitos_80_plus_f,obitos_80_plus_m,obitos_f,obitos_m,confirmados_desconhecidos_m,confirmados_desconhecidos_f,ativos,internados_enfermaria,confirmados_desconhecidos
data,,,,,,,,,,,,,,,,,,,,,
2020-02-26,26-02-2020 00:00,0,0,0,0,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-27,27-02-2020 00:00,0,0,0,0,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-28,28-02-2020 00:00,0,0,0,0,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-29,29-02-2020 00:00,0,0,0,0,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-01,01-03-2020 00:00,0,0,0,0,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-02,02-03-2020 00:00,2,2,0,0,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0
2020-03-03,03-03-2020 16:00,4,2,1,1,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,4.0
2020-03-04,04-03-2020 17:00,6,3,1,2,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,0.0,6.0
2020-03-05,05-03-2020 17:00,9,5,1,3,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,0.0,9.0
2020-03-06,06-03-2020 17:00,13,8,1,4,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,0.0,13.0